<div [style]="{'margin-top':'20px' , 'text-align':'center'}">
  <div>
    <h1>Angular</h1>
  </div>

  <button class="btn btn-primary" [style]="{'margin-right':'20px'}"><a [style]="{ 'color':'gold'}" routerLink="/JSON">Сторінка 2</a></button>
  <button class="btn btn-danger" [style]="{'margin-right':'20px'}"><a routerLink="/password">Сторінка 3</a></button>
  <button class="btn btn-dark" [style]="{'margin-right':'20px'}"><a routerLink="/API">Сторінка 4</a></button>
</div>


<router-outlet></router-outlet>
